{% extends "master/master.html" %}
{% block content %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            {% for banner in bannerData %}
                                {% if forloop.counter == 1 %}
                                    <div class="item active">
                                        <div class="col-sm-6">
                                            <h1><span>{{ banner.title }}</span></h1>
                                            <h2>{{ banner.subtitle }}</h2>
                                            <p>
                                                {{ banner.get_limit_description |safe }}
                                            </p>
                                            <a href="{% url 'banner-details' banner.slug %}"
                                               class="btn btn-default get">Get it now</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="{{ banner.image.url }}" class="girl img-responsive" alt=""/>
                                            <img src="{{ banner.image.url }}" class="pricing" alt=""/>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>{{ banner.title }}</span></h1>
                                        <h2>{{ banner.subtitle }}</h2>
                                        <p>
                                            {{ banner.get_limit_description |safe }}
                                        </p>
                                        <a href="{% url 'banner-details' banner.slug %}" class="btn btn-default get">Get it now</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="{{ banner.image.url }}" class="girl img-responsive" alt=""/>
                                        <img src="{{ banner.image.url }}" class="pricing" alt=""/>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">
                            {% for category in categoryData %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#">{{ category.cat_name }}</a></h4>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Product List</h2>
                        {% for product in productData %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            {% if product.image %}
                                                <img src="{{ product.image.url }}" alt=""/>
                                            {% endif %}
                                            <h2>Rs: {{ product.price }}</h2>
                                            <p>{{ product.product_name }}n</p>
                                            <a href="{% url 'cart_add' product.id %}" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>Add
                                                to cart</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>{{ product.price }}</h2>
                                                <p>{{ product.product_name }}</p>
                                                <a href="{% url 'cart_add' product.id %}" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div><!--features_items-->

                </div>
            </div>
        </div>
    </section>

{% endblock %}

